<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeCreations</servlet-name>
  	<display-name>EmployeeCreations</display-name>
  	<description></description>
  	<servlet-class>EmployeeCreations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateEmployee</servlet-name>
  	<display-name>CreateEmployee</display-name>
  	<description></description>
  	<servlet-class>mavenServlet.CreateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadEmployee</servlet-name>
  	<display-name>ReadEmployee</display-name>
  	<description></description>
  	<servlet-class>mavenServlet.ReadEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeCreations</servlet-name>
  	<url-pattern>/EmployeeCreations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateEmployee</servlet-name>
  	<url-pattern>/CreateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadEmployee</servlet-name>
  	<url-pattern>/ReadEmployee</url-pattern>
  </servlet-mapping>
</web-app>
